<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container">
    <form method="post" action="/test_page">
        <h1>COVID-19 e Pass Govt. of Telangana</h1>
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" required>
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" required>
        </div>
        <div class="form-group">
            <label for="email">Email ID</label>
            <input type="email" class="form-control" id="email" placeholder="Enter Email ID" name="email">
        </div>
        <div class="form-group">
            <label for="source_state">Source State</label>
            <input type="text" class="form-control" id="source_state" name="source_state" placeholder="Enter Departure State" required>
        </div>
        <div class="form-group">
            <label for="source">Source District</label>
            <input type="text" class="form-control" id="source" name="source" placeholder="Enter departure district" required>
        </div>
        <div class="form-group">
            <label for="dest_state">Destination State</label>
            <input type="text" class="form-control" id="dest_state" name="dest_state" placeholder="Enter Destination State" required>
        </div>
        <div class="form-group">
            <label for="destination">Destination District</label>
            <input type="text" class="form-control" id="destination" name="destination" placeholder="Enter Destination district" required>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Mobile Number</label>
            <input type="number" class="form-control" id="source" name="phoneNumber" placeholder="Enter Phone Number" required>
        </div>
        <div class="form-group">
            <label for="aadhaarnumber">Aadhaar Card Number</label>
            <input type="number" class="form-control" id="aadhaarnumber" name="aadhaarnumber" placeholder="Enter Aadhaar Number">
        </div>
        <div class="form-group">
            <label for="email">Travel Date </label>
            <input type="date" class="form-control" id="date" name="date" placeholder="Select Travel Date" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<!-- <form method="post" action="/test_page">
    <h1>COVID-19 e Pass Govt. of Telangana</h1>
    <label> First Name</label> <input type="text" name="fname" placeholder="Username">
    <br>
    <label> Last Name</label> <input type="text" name="lname" placeholder="Username">
    <br>
    <label> Email ID</label> <input type="text" name="email" placeholder="email_id">
    <br>
    <label> Source State</label> <input type="text" name="source_state" placeholder="departure state">
    <br>
    <label> Source District</label> <input type="text" name="source" placeholder="departure district">
    <br>
    <label> Destination State</label> <input type="text" name="dest_state" placeholder="destination state">
    <br>
    <label> Destination District</label> <input type="text" name="destination" placeholder="destination district">
    <br>
    <label> Mobile Number</label> <input type="number" name="phoneNumber" placeholder="phonenumber">
    <br>
    <label> Aadhaar Card</label> <input type="text" name="idcard" placeholder="aadhaarnumber">
    <br>
    <label> Travel Date</label> <input type="text" name="trip" placeholder="traveldate">
    <br>
    <input type="submit" value="login">
</form> -->

</body>
</html>