<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="container">

    <div style="align-items: center;">
        <h1> E-Pass </h1>
        <h1> Name: {{var}}</h1>
        <h2>Email Id: {{var1}}</h2>
        <h2>Aadhaar Number:{{var2}}</h2>
        <h2>Travelling From: {{var3}},District: {{var4}}</h2>
        <h2>Travelling To:{{var5}},District: {{var6}}</h2>
        <h2>PhoneNumber:{{var7}}</h2>
        <h2>Date of travel:{{var8}}</h2>
        <h2>Status:{{var9}}</h2>
    </div>
    
</body>

</html>